html,
body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.black-btn {
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 20px;
  font-size: x-small;
  max-width: 125px;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 0.7rem;
}

h1,
h2 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background-color: #ffffff;
  color: #000000;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.2);
}

.navbar .logo img {
  max-width: 100px;
  height: auto;
  flex: 1;
}

.navbar .center {
  display: flex;
  flex: 2;
  justify-content: center;
}

.navbar .black-btn {
  flex: 1;
}

.navbar a {
  color: #000000;
  font-size: 0.8rem;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar a.active {
  background-color: #909090;
  color: white;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .icon {
  display: none;
}

.section-bg {
  align-items: center;
  background-image: url('/img/topbillede.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 100%;
}

.section-bg-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  padding: 20px;
  gap: 15px;
}

.section-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  padding: 50px 0 70px 0;
}

.contact-section {
  padding: 30px 5% 8% 5%;
  background-color: #f8dd9f;
}

.contact-container {
  justify-content: center;
  align-items: center;
}

.contact-text {
  flex: 1;
  padding: 20px;
}

.contact-form-container {
  flex: 1;
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 16px;
}

.contact-form button {
  align-self: flex-end;
}

.text-area {
  width: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

textarea {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.p5 {
  padding: 5%;
}

.p10 {
  padding: 10%;
}

.p15 {
  padding: 15%;
}

.white-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  padding: 10px 20px;
  font-size: x-small;
  font-weight: bold;
}

.white-txt {
  color: #ffffff;
}

@media screen and (max-width: 706px) {

  .navbar .center,
  .navbar .black-btn {
    display: none;
  }

  .navbar.responsive{
    padding: 0;
  }

  .navbar a.icon {
    display: block;
    float: right;
    font-size: 24px;
  }

  .navbar.responsive .center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar.responsive .center a {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }

  .navbar.responsive .black-btn {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    order: 1;
  }

    .navbar .logo img {
      max-width: 70px;
    }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    padding: 10px 0;
  }

  .contact-form button {
    align-self: center;
  }
}

@media screen and (min-width: 601px) {
  .section-bg-content {
    align-items: flex-start;
    text-align: left;
    margin-right: 30vw;
  }
}

.hero {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}

.image-side {
  flex: 1;
  padding: 8%;
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-side {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-side h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.text-side p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.burger-menu {
  font-size: 32px;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: bold;
}

button:hover {
  background-color: #333;
}

.three-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  height: 70vh;
}

.image-card {
  position: relative;
  flex: 1;
  margin: 0;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 2.5rem;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: auto;
  }

  .image-side {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-side {
    align-items: center;
    text-align: center;
  }

  .black-btn {
    align-self: center;
  }

  .three-images {
    flex-direction: column;
    align-items: center;
    height: 50%;
  }

  .overlay-text {
    font-size: 1.5rem;
  }
}